<div class="container px-10 py-6 mx-auto" data-controller="modal" data-modal-prevent-default-action-opening="false">
    <div class="flex flex-wrap justify-between items-center mb-2">
        <h1 class="text-lg mb-2 font-bold"><%= @legal_content.title %></h1>
        <div>    
            <%= link_to legal_content_path(@legal_content, request.parameters.merge({format: :xlsx})) do%>
                <%= inline_svg_tag "icons/excel", class: "h-6 fill-current" %>
                <span class="inline-block text-sm mr-8">Export as excel</span>
            <% end %>
            <%= link_to "New Prompt", new_prompt_path(legal_content_id: @legal_content.id), data: { turbo_frame: "modal_content", action: "click->modal#open"}, class:"plus-button" %>
        </div>
    </div>
    <div id="prompts">
        <%= render partial: "prompts/prompt", collection: @prompts, as: :prompt %>
    </div>

    <%= render partial: "article", collection: @articles, as: :article %>

    <%= render 'shared/modal' %>
</div>